@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    background: #006465;
}

.sidebar{
    position: absolute;
    width: 50px;
    height: 100vh;
    background: #fff;
    overflow: hidden;
    transition: 0.5s;
}

.sidebar:hover{
    width: 400px;
}

.sidebar ul{
    position: relative;
    height: 100vh;
}

.sidebar ul li{
    list-style: none;
}

.sidebar ul li:hover{
    background: #f3f3f3;
}

.sidebar ul li a{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}
 
.sidebar ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    color: #333;
}

.sidebar ul li a .text{
    position: relative;
    display: flex;
    height: 60px;
    align-items: center;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    
}